@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.f {
  font-family: "Dancing Script";
}

@font-face {
  font-family: par;
  src: url(Paradise.otf);
}

@font-face {
  font-family: inf;
  src: url(Royal\ Inferno.ttf);
}

.par {font-family: par;}

.inf {font-family: inf;}

.pac {font-family: Satisfy;}